<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.unarr.web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/ryan/GitHub/unarr-web/server.py</string>
    <string>--host</string>
    <string>0.0.0.0</string>
    <string>--unarr</string>
    <string>/Users/ryan/.local/bin/unarr</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/ryan/GitHub/unarr-web</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/Users/ryan/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/ryan/GitHub/unarr-web/.data/unarr-web.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ryan/GitHub/unarr-web/.data/unarr-web.err.log</string>
</dict>
</plist>
